.quiz_box {
    position: relative;
    width: 800px;
    background-color: #fdde98;
    margin: 0 auto;
    margin-top: 40px;
  }
   
  .quiz_box .answer_correct {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
   
  .quiz_box .answer_correct .maru {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 10px red;
  }
   
  .quiz_box .answer_incorrect {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
   
  .quiz_box .answer_incorrect .batu {
    position: relative;
    width: 100px;
    height: 10px;
    background-color: blue;
  }
   
  .quiz_box .answer_incorrect .batu::before {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: blue;
    content: "";
  }
   
  .quiz_box .answer_result {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fdde98;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
   
  .quiz_box .answer_result .answer_result_title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #a0a0a0;
    font-size: 24px;
  }
   
  .quiz_box .answer_result .answer_result_text {
    padding: 50px;
    font-size: 18px;
    font-weight: bold;
  }
   
  .quiz_box .active_answer {
    visibility: visible;
    opacity: 0.8;
  }
   
  .quiz_box .active_result {
    visibility: visible;
    opacity: 1;
  }
   
  .quiz_box .question_number {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #a0a0a0;
    font-weight: bold;
  }
   
  .quiz_box .question {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
  }
   
  .quiz_box .answer_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    width: 400px;
  }
   
  .quiz_box .answer_box .answer {
    border: solid 1px #000000;
    width: 70%;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 55px;
    padding: 10px;
    cursor: pointer;
  }
